{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<div class="container">
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-content">
                            <span class="card-title grey-text text-darken-2">
                                Create Push Deployment Ticket
                            </span>
                        <div class="row">

                        </div>
                        <div class="row">
                            {% form %}
                            {% attr form.type 'group' class append %}inline{% endattr %}
                            {% endform %}
                            <div class="input-field col s12 required" id="id_valid_from_date_container6">
                                {{ form.errors }}
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="right-align">
                                <button class="btn btn-primary pull-right" type="submit">Create Ticket</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
